.App {
  width: 100%;
}

.barIcons{
	color:white;
	font-size: 3rem;
	margin: 0 1rem;
	transition: all .2s ease-in-out;
}

.barIcons:hover{
	color:#f52549;
	transform: scale(1.1);
}

@media only screen and (max-width: 650px) {
	.barIcons{
		font-size: 2.0rem;
	}
}