.firstPageComp {
	background-color: #8E2DE2; /* fallback for old browsers */
	background-image: -webkit-linear-gradient(to bottom, #12375c, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to bottom, #12375c, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.firstPageSubComp{
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

.firstPagePicture{
	border-radius : 4rem;
	margin: 2rem 5rem;
}

.firstPageTyping{
	color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3rem;
}


.arrowDownDiv{
	display:flex;
	justify-content:center;
	align-items:flex-end;
	height:7rem;
}

.arrowDown{
	color:white;
	font-size: 4rem;
	margin: 0 1rem;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.arrowDown:hover{
	color:#f52549;
	transform: scale(1.2);
}


@media only screen and (max-width: 580px) {
	.arrowDownDiv{
		height:10rem;
	}
	.firstPagePicture{
		margin: 2rem 0 0 0;
	}
	.firstPageTyping{
		margin: 2rem 0 0 0;
	    font-size: 1.8rem;
	}

} 